/* reset css*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background: url(/90p/css/img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#main {}

#header {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

#header .heading {
    font-size: 2.3em;
    margin-bottom: 16px;
}

#header .sub-heading {
    font-size: 1.1rem;
    margin-bottom: 24px;
    letter-spacing: 1px;
    margin-top: 16px;
}

#navi {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

#navi .navi-box {
    width: 115px;
    height: 30px;
    background-color: blue;
    margin: 0 3px;
    border-radius: 7px;
}

#content {
    display: flex;
    justify-content: center;
}

#content .box-around {
    width: 190px;
    margin: 0 12px;
}

#content .box {
    width: 190px;
    height: 207px;
    background-color: rgba(106, 101, 101, 0.5);
    margin: 0 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 24px 24px;
}

#content .footer-box {
    width: 190px;
    height: 38px;
    background-color: #96c052;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 12px;
}

.box img {
    width: 100%;
}

#content .box-around .footer-box {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    line-height: 38px;
    text-align: center;
}

#border {
    margin-top: 58px;
}

#border img {
    width: 80%;
    margin: 0 10%;
}

#footer {
    margin-top: 10px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 2;
}